[submodule "Desafio-Construindo-Sistema-de-Estacionamento/trilha-net-fundamentos-desafio"]
	path = Desafio-Construindo-Sistema-de-Estacionamento/trilha-net-fundamentos-desafio
	url = https://github.com/usuario/repositorio.git
